<div class="passengers">
	<div class="form-group">
		<%= f.label :name, :class => "col-md-2 control-label" %>
		<div class="col-md-6">
			<%= f.text_field :name, :class => 'form-control pasenger_name' %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :email, :class => "col-md-2 control-label" %>
		<div class="col-md-6">
			<%= f.text_field :email, :class => 'form-control passenger_email' %>
		</div>
	</div>
	<div class="row">
		<hr class="col-md-8">
	</div>
	
</div>