<!DOCTYPE html>
<html>
<head>
  <title>FlightBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="header clarfix">
			<h3 class="text-muted">FlightBooker</h3>
		</div>
		<%= yield %>
		<div class="footer">
			<p>Flightbooker by <a href="www.github.com/patrickmontalto">Patrick Montalto</a></p>
		</div>
	</div>

</body>
</html>
